/*---------------------------------------------- 
Reset CSS 2.0
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, svg text, h5, [class*="product-state-"] label, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  cursor: pointer; }

::-webkit-scrollbar {
  display: none; }

/*---------------------------------------------- 
MY STLES
------------------------------------------------*/
body {
	background-color: #ffffff;
	color: #fff;
	text-align: center;
  cursor: crosshair;
}
.wrapper {
	padding: 40px;
	padding-top: 30px;
}
img {
  width: 48px;
  height: auto;
  padding-bottom: 12px;
}
ul {
	list-style: none;
}
li {
	display: inline;
}
a {
	color: #bababa;
	text-decoration: none;
}
h1 {
  color: #222222;
  text-transform: uppercase;
}
p {
  color: #bbbbbb;
  text-transform: uppercase;
  font-size: 8px;
  padding-top: 12px;
  padding-bottom: 6px;
}
button {
  background-color: white;
  width: 120px;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  border: none;
  outline: 1px dashed rgba(30, 30, 200, .2); 
  color: black;
  font-family: Helvetica, Arial, Sans-Serif;
}
button:hover {
  background-color: #222222;
  color: white;
  outline: none;
  cursor: crosshair;
}